<h1>Demographic</h1>

<h2>Install required package and import libraries</h2>

In [57]:
# If not already installed, install pyreadstat (used to read .sas7bdat files)
!pip install pyreadstat
!pip install openpyxl

# Import core packages
import pandas as pd
import os
import numpy as np
import pyreadstat

Requirement already satisfied: pyreadstat in /Users/dengshuyue/amydsy/lib/python3.13/site-packages (1.3.0)
Requirement already satisfied: pandas>=1.2.0 in /Users/dengshuyue/amydsy/lib/python3.13/site-packages (from pyreadstat) (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /Users/dengshuyue/amydsy/lib/python3.13/site-packages (from pandas>=1.2.0->pyreadstat) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/dengshuyue/amydsy/lib/python3.13/site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/dengshuyue/amydsy/lib/python3.13/site-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/dengshuyue/amydsy/lib/python3.13/site-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/dengshuyue/amydsy/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

<h2>Load and preview SAS dataset</h2>

In [ ]:
# Path to your .sas7bdat file
file_path = "/Users/dengshuyue/Desktop/SDOH/analysis/data/demo_i.sas7bdat"

# Load the dataset using pandas (requires pyreadstat)
df = pd.read_sas(file_path, format="sas7bdat")

# Preview the data
pd.set_option('display.max_columns', None)
df.head()

# List all column names
print(df.columns.tolist())

In [ ]:

# Path to your .sas7bdat file
file_path = "/Users/dengshuyue/Desktop/SDOH/analysis/data/gg.sas7bdat"

# Load the dataset using pandas (requires pyreadstat)
df = pd.read_sas(file_path, format="sas7bdat")

# Preview the data
pd.set_option('display.max_columns', None)
df.head()

# List all column names
print(df.columns.tolist())

In [19]:

# Path to your .sas7bdat file
file_path = "/Users/dengshuyue/Desktop/SDOH/analysis/data/sodh_diet_mort.sas7bdat"

# Load the dataset using pandas (requires pyreadstat)
df = pd.read_sas(file_path, format="sas7bdat")

# Preview the data
pd.set_option('display.max_columns', None)
df.head()

# List all column names
# print(df.columns.tolist())

,SEQN,marriage,HOD050,HOQ065,EMPLOY,unemployment,ELIGSTAT,MORTSTAT,UCOD_LEADING,DIABETES,HYPERTEN,PERMTH_INT,PERMTH_EXM,Death_heart,Death_cancer,Death_resp,Death_cerev,Death_diabe,Death_other,death_cvd,death_cmd,FSDHH,SNAP,FS,ins,RIDAGEYR,INDFMPIR,diabe,smk,smk_avg,sex,race,HEI2015_TOTAL_SCORE,edu,alcg2,DAYS,WTDRD1,DR12DRST,WTDR2D,i_optup,i_FCS,i_HSR,i_nutri,perE_alco,sdmvpsu,sdmvstra,tchol,hdl,ldl,tg,bmi,dm_self,hba1c,cancer,sbp,dbp,dm_rx,chol_rx,angina_rx,CVD,lung_disease,angina,met_hr,wt10,wt,i_FCS_sd,i_Optup_sd,i_nutri_sd,i_HSR_sd,hei2015_sd,Death_inj,Death_alz,Death_infl,Death_kid,death_other1,Death_oth2,death_cmdk,death_cmdkh,death_multi,agesq,py,agestart,ageend,pir,bmic,include,ins2,unemployment2
0,21009.0,1.0,6.0,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,196.0,195.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,55.0,3.79,0.0,1.0,0.0,1.0,1.0,45.542908,2.0,1.0,1.0,56998.593412,1.0,170262.470827,42.652217,25.525713,4.324399,7.838628,0.000000,2.0,31.0,254.0,37.0,176.0,198.0,31.26,2.0,5.9,0.0,120.000000,86.000000,0.0,0.0,0.0,0.0,0.0,0.0,16.000000,5699.859341,21282.808853,2.343959,5.220590,-2.472753,4.281583,3.503301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3025.0,16.250000,55.0,71.250000,3.0,3.0,1.0,1.0,0.0
1,21010.0,1.0,3.0,1.0,2.0,1.0,1.0,0.0,NaN,NaN,NaN,182.0,181.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,52.0,1.24,0.0,4.0,20.0,2.0,1.0,51.931080,3.0,3.0,1.0,55313.014168,1.0,75296.121197,44.072913,30.611291,5.652702,4.488967,10.617983,1.0,29.0,174.0,119.0,39.0,86.0,25.49,2.0,5.5,0.0,133.333333,84.000000,0.0,0.0,0.0,0.0,1.0,0.0,130.000000,5531.301417,9412.015150,2.810954,5.394481,-1.416078,5.596735,3.994698,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2704.0,15.083333,52.0,67.083333,1.0,2.0,1.0,0.0,1.0
2,21012.0,1.0,7.0,1.0,3.0,0.0,1.0,1.0,b'001',0.0,0.0,127.0,126.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,0.0,63.0,0.89,0.0,4.0,20.0,1.0,2.0,38.637620,2.0,4.0,1.0,18966.755482,1.0,29690.563714,46.390303,29.339153,4.508485,10.484242,10.935122,2.0,33.0,191.0,92.0,78.0,111.0,19.60,2.0,4.8,0.0,122.666667,64.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1896.675548,3711.320464,2.694137,5.678128,-3.307332,4.463846,2.972125,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,3969.0,10.500000,63.0,73.500000,1.0,0.0,1.0,0.0,1.0
3,21015.0,1.0,6.0,1.0,3.0,0.0,1.0,1.0,b'001',0.0,0.0,25.0,24.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,1.0,2.0,83.0,1.20,0.0,2.0,0.0,1.0,1.0,67.249329,3.0,1.0,1.0,16558.465868,1.0,12824.553561,48.060086,40.101046,6.171980,5.366953,0.000000,2.0,33.0,141.0,34.0,94.0,60.0,28.32,2.0,5.0,1.0,154.000000,54.000000,0.0,0.0,0.0,1.0,1.0,0.0,38.666667,1655.846587,1603.069195,3.682373,5.882507,-1.693045,6.110872,5.173025,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,6889.0,2.000000,83.0,85.000000,1.0,2.0,1.0,1.0,1.0
4,21017.0,1.0,3.0,2.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,202.0,201.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,37.0,0.21,0.0,3.0,3.0,2.0,3.0,46.395227,1.0,1.0,1.0,11616.087348,1.0,9651.202301,53.498019,35.075704,6.260343,3.491417,0.000000,2.0,42.0,184.0,77.0,65.0,222.0,19.34,2.0,5.1,0.0,102.666667,67.333333,0.0,0.0,0.0,0.0,0.0,0.0,11.333333,1161.608735,1206.400288,3.220909,6.548105,-1.101393,6.198360,3.568864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1369.0,16.750000,37.0,53.750000,1.0,0.0,1.0,0.0,0.0

In [24]:
# Display total number of rows (i.e., participants) in the dataset
print(f"Total sample size: {df.shape[0]:,}")

# Check the min and max age
min_age = df['RIDAGEYR'].min()
max_age = df['RIDAGEYR'].max()
print(f"Age range: {min_age} to {max_age} years")

Total sample size: 38,900
Age range: 20.0 to 85.0 years

<h2>Merge datasets step-by-step and track sample size</h2>

<h3>Merge demo</h3>

In [153]:

# Step 1: Set path
folder_path = "/Users/dengshuyue/Desktop/SDOH/analysis/data"

# Step 2: NHANES demographic files to check
demo_files = [
    #"demo",    # 1999–2000
    #"demo_b", # 2001–2002
    "demo_c",  # 2003–2004
    "demo_d",  # 2005–2006
    "demo_e",  # 2007–2008
    "demo_f",  # 2009–2010
    "demo_g",  # 2011–2012
    "demo_h",  # 2013–2014
    "demo_i",  # 2015–2016
    "demo_j"   # 2017–2018
]
# Step 3: Load files if they exist
demo_dfs = []
for f in demo_files:
    file_path = os.path.join(folder_path, f"{f}.sas7bdat")
    if os.path.exists(file_path):
        df = pd.read_sas(file_path)
        demo_dfs.append(df)
    else:
        print(f" File not found: {file_path}")

# Step 4: Combine datasets
demoall = pd.concat(demo_dfs, ignore_index=True)
demoall = demoall.copy()  # Avoid fragmentation warnings


# print("📝 Preview of DMDMARTL values:")
# print(demoall["DMDMARTL"].value_counts(dropna=False))


# Step 5: Recode marriage from DMDMARTL
conditions = [
    demoall['DMDMARTL'].isin([1, 6]),
    demoall['DMDMARTL'].isin([3, 4]),
    demoall['DMDMARTL'] == 2,
    demoall['DMDMARTL'] == 5
]
choices = [1, 2, 3, 4]
demoall['marriage'] = np.select(conditions, choices, default=pd.NA)

# Step 6: Keep only SEQN and marriage
demoall = demoall[['SEQN', 'marriage']]

# Step 7: Summary counts
total_rows = demoall.shape[0]
unique_ids = demoall['SEQN'].nunique()
print(f"✅ Total rows: {total_rows}")
print(f"✅ Unique SEQN values: {unique_ids}")

# Step 8: Preview
# demoall.head()

✅ Total rows: 80312
✅ Unique SEQN values: 80312

<h3>Preprocess SDOH</h3>

In [154]:

# --- Employment data (OCQ) ---
ocq = pd.read_sas(f"{folder_path}/ocq.sas7bdat")

ocq['employ'] = np.nan
ocq.loc[ocq['OCD150'] == 1, 'employ'] = 1
ocq.loc[(ocq['OCD150'] == 3) | (ocq['OCQ380'] == 5), 'employ'] = 2
ocq.loc[ocq['OCQ380'] == 3, 'employ'] = 3
ocq.loc[ocq['OCQ380'].isin([4, 6]), 'employ'] = 4
ocq.loc[ocq['OCQ380'].isin([1, 2, 7]), 'employ'] = 5
ocq['unemployment'] = (ocq['employ'] == 2).astype(int)
ocq = ocq[['SEQN', 'employ', 'unemployment']]

# --- Housing data (HOQ) ---
hoq = pd.read_sas(f"{folder_path}/hoq.sas7bdat")
hoq.loc[hoq['HOQ065'].isin([7, 9]), 'HOQ065'] = np.nan
hoq = hoq[['SEQN', 'HOD050', 'HOQ065']]

# --- Health insurance (HIQs) ---
hiqs = pd.read_sas(f"{folder_path}/hiqs.sas7bdat")
ins = pd.DataFrame({'SEQN': hiqs['SEQN']})
ins['ins'] = np.nan

# Private insurance
ins.loc[(hiqs['HIQ031A'] == 14) | (hiqs['HID030A'] == 1), 'ins'] = 1

# Medicare
ins.loc[
    ((hiqs['HIQ031B'] == 15) & (hiqs['HIQ031D'] != 17) & (hiqs['HIQ031E'] != 18)) |
    ((hiqs['HID030B'] == 1) & (hiqs['HID030C'] != 1)),
    'ins'
] = 2

# Medicaid
ins.loc[
    (((hiqs['HIQ031D'] == 17) | (hiqs['HIQ031E'] == 18)) & (hiqs['HIQ031B'] != 15)) |
    ((hiqs['HID030B'] != 1) & (hiqs['HID030C'] == 1)),
    'ins'
] = 3
ins.loc[
    ((hiqs['HIQ031B'] == 15) & (hiqs['HIQ031D'] == 17)) |
    ((hiqs['HID030B'] == 1) & (hiqs['HID030C'] == 1)),
    'ins'
] = 3

# Other insurance
ins.loc[
    (hiqs[['HIQ031C', 'HIQ031F', 'HIQ031G', 'HIQ031H', 'HIQ031I']].eq(1).any(axis=1)) |
    (hiqs['HID030D'] == 1),
    'ins'
] = 5

# No insurance
ins.loc[(hiqs['HIQ011'] == 2) | (hiqs['HID010'] == 2), 'ins'] = 0

# --- SNAP and Food Security (FSQS) ---
fsqs = pd.read_sas(f"{folder_path}/fsqs.sas7bdat")
snap = pd.DataFrame({'SEQN': fsqs['SEQN'], 'FSDHH': fsqs['FSDHH']})

snap['SNAP'] = np.nan
snap.loc[fsqs['FSQ165'] == 2, 'SNAP'] = 0
snap.loc[fsqs['FSQ012'] == 1, 'SNAP'] = 1
snap.loc[fsqs['FSQ012'] == 2, 'SNAP'] = 0
snap.loc[fsqs['FSQ171'] == 1, 'SNAP'] = 1
snap.loc[fsqs['FSQ171'] == 2, 'SNAP'] = 0
snap.loc[fsqs['FSD170N'] >= 1, 'SNAP'] = 1
snap.loc[fsqs['FSQ170'] == 1, 'SNAP'] = 1
snap.loc[(fsqs['FSQ170'] == 2) & (fsqs['FSD170N'] < 1), 'SNAP'] = 0
snap.loc[fsqs['FSD200'] == 1, 'SNAP'] = 1

# Food Security
snap['FS'] = np.nan
snap.loc[fsqs['FSDHH'].isin([1, 2]), 'FS'] = 1
snap.loc[fsqs['FSDHH'] > 2, 'FS'] = 0

# Keep only final columns
snap = snap[['SEQN', 'SNAP', 'FSDHH', 'FS']]

<h3>Load and Preprocess Dietary Scores, Covariates, Weights, and Mortality Data </h3>

In [155]:
# Step 1: Read dietary score data
scores = pd.read_excel(os.path.join(folder_path, "i.scores.xlsx"), engine="openpyxl")

# Rename columns to match desired output
scores = scores.rename(columns={
    "seqn": "SEQN",
    "i.FCS": "i_FCS",
    "i.optup": "i_optup",  # keep lowercase here first
    "i.HSR": "i_HSR",
    "i.nutri": "i_nutri"
})

# Then copy and rename for output
scores2 = scores[["SEQN", "i_FCS", "i_optup", "i_HSR", "i_nutri"]].copy()
scores2 = scores2.rename(columns={"i_optup": "i_Optup"})
scores2 = scores2.sort_values("SEQN")


# Step 2: Read covariates from Lu paper
covar = pd.read_sas(os.path.join(folder_path, "covar.sas7bdat"), format="sas7bdat")
covar = covar.rename(columns=str.upper)  # make all column names uppercase to match SAS style
# filter available variables only
covar_vars = ["SEQN", "RIDAGEYR", "SEX", "RACE", "EDU", "INDFMPIR", "SMK_AVG", "SMK_PAST",
              "SMK", "ALCG2", "HEI2015_TOTAL_SCORE", "DIABE"]
covar = covar[[col for col in covar_vars if col in covar.columns]].copy()
covar = covar.sort_values("SEQN")

# Step 3: Read covariates from Meghan paper
covariates1_raw = pd.read_csv(os.path.join(folder_path, "covariates.csv"))
covariates1 = covariates1_raw.rename(columns={"seqn": "SEQN"})
covariates_vars = ["SEQN", "sdmvpsu", "sdmvstra", "met_hr", "perE_alco", "dm_self",
                   "tchol", "hdl", "ldl", "tg", "bmi", "CVD", "dm_rx", "chol_rx",
                   "angina_rx", "lung_disease", "angina", "hba1c", "sbp", "dbp", "cancer"]
covariates1 = covariates1[[col for col in covariates_vars if col in covariates1.columns]].copy()
covariates1 = covariates1.sort_values("SEQN")

# Step 4: Read dietary weight data (filter DAYS == 1)
dietwt = pd.read_sas(os.path.join(folder_path, "gg.sas7bdat"), format="sas7bdat")

# Check for expected columns
required_cols = ["SEQN", "DAYS", "WTDRD1", "WTDR2D", "DR12DRST"]
missing = [col for col in required_cols if col not in dietwt.columns]
if missing:
    print(f"Warning: Missing columns from gg.sas7bdat: {missing}")

# Filter and select
dietwt = dietwt[dietwt["DAYS"] == 1][["SEQN", "WTDRD1", "WTDR2D", "DR12DRST"]].copy()
dietwt = dietwt.sort_values("SEQN")


# Step 5: Read mortality data
mort = pd.read_sas(os.path.join(folder_path, "mortality9918.sas7bdat"), format="sas7bdat")
mort = mort.sort_values("SEQN")

In [156]:
def summarize_df(name, df):
    print(f"{name}:")
    print(f"  Rows: {df.shape[0]}")
    print(f"  Unique SEQN: {df['SEQN'].nunique()}")
    print("-" * 40)

summarize_df("scores2", scores2)
summarize_df("covar", covar)
summarize_df("covariates1", covariates1)
summarize_df("dietwt", dietwt)
summarize_df("mort", mort)

scores2:
  Rows: 39746
  Unique SEQN: 39746
----------------------------------------
covar:
  Rows: 101316
  Unique SEQN: 101316
----------------------------------------
covariates1:
  Rows: 39262
  Unique SEQN: 39262
----------------------------------------
dietwt:
  Rows: 88413
  Unique SEQN: 88413
----------------------------------------
mort:
  Rows: 59064
  Unique SEQN: 59064
----------------------------------------

<h3>Merging Datasets and 
    Creating Derived Variables for Mortality and Covariate Analysis<h3>

In [157]:
# Merge all datasets by SEQN
from functools import reduce

# Put all dataframes into a list
merge_list = [demoall, hoq, ocq, mort, snap, ins, covar, dietwt, scores2, covariates1]

# Inner merge on SEQN for all (change to outer if needed)
score_mort = reduce(lambda left, right: pd.merge(left, right, on="SEQN", how="left"), merge_list)

# Variable transformations
score_mort["wt10"] = score_mort["WTDRD1"] / 10
score_mort["wt"] = score_mort["WTDR2D"] / 8
score_mort["i_FCS_sd"] = score_mort["i_FCS"] / 10.89
score_mort["i_Optup_sd"] = score_mort["i_Optup"] / 8.17
score_mort["i_nutri_sd"] = -score_mort["i_nutri"] / 3.17
score_mort["i_HSR_sd"] = score_mort["i_HSR"] / 1.01
score_mort["hei2015_sd"] = score_mort["HEI2015_TOTAL_SCORE"] / 13

# Recode UCOD_LEADING to create binary death indicators
score_mort["death_heart"] = (score_mort["UCOD_LEADING"] == "001").astype(int)
score_mort["death_cancer"] = (score_mort["UCOD_LEADING"] == "002").astype(int)
score_mort["death_resp"] = (score_mort["UCOD_LEADING"] == "003").astype(int)
score_mort["Death_inj"] = (score_mort["UCOD_LEADING"] == "004").astype(int)
score_mort["death_cerev"] = (score_mort["UCOD_LEADING"] == "005").astype(int)
score_mort["Death_alz"] = (score_mort["UCOD_LEADING"] == "006").astype(int)
score_mort["death_diabe"] = (score_mort["UCOD_LEADING"] == "007").astype(int)
score_mort["Death_infl"] = (score_mort["UCOD_LEADING"] == "008").astype(int)
score_mort["Death_kid"] = (score_mort["UCOD_LEADING"] == "009").astype(int)
score_mort["death_other1"] = (score_mort["UCOD_LEADING"] == "010").astype(int)

# Composite death categories
score_mort["Death_other"] = score_mort[["death_resp", "Death_inj", "Death_alz", "Death_infl"]].sum(axis=1).clip(upper=1)
score_mort["Death_oth2"] = score_mort[["death_resp", "Death_inj", "Death_alz", "Death_infl", "death_other1"]].sum(axis=1).clip(upper=1)

# CMD outcomes
score_mort["death_cvd"] = score_mort[["death_heart", "death_cerev"]].sum(axis=1).clip(upper=1)
score_mort["death_cmd"] = score_mort[["death_heart", "death_cerev", "death_diabe"]].sum(axis=1).clip(upper=1)
score_mort["death_cmdk"] = score_mort[["death_heart", "death_cerev", "death_diabe", "Death_kid"]].sum(axis=1).clip(upper=1)

# Initialize death_cmdkh
score_mort["death_cmdkh"] = score_mort["death_cmdk"]

# Overwrite death_cmdkh if diabetes or hypertension is present
score_mort.loc[score_mort["DIABETES"] == 1, "death_cmdkh"] = 1
score_mort.loc[score_mort["HYPERTEN"] == 1, "death_cmdkh"] = 1

# Fill missing CMD with 0
score_mort["death_cmd"] = score_mort["death_cmd"].fillna(0)

# Reset other cause flags if CMD present
score_mort.loc[score_mort["death_cmd"] == 1, ["Death_other", "Death_oth2"]] = 0


# Multiple cause mortality category
score_mort["death_multi"] = score_mort["MORTSTAT"]
score_mort.loc[score_mort["death_cmd"] == 1, "death_multi"] = 1
score_mort.loc[score_mort["death_cancer"] == 1, "death_multi"] = 2
score_mort.loc[score_mort["Death_oth2"] == 1, "death_multi"] = 3

# Age squared and time vars
score_mort["agesq"] = score_mort["RIDAGEYR"] ** 2
score_mort["py"] = score_mort["PERMTH_EXM"] / 12
score_mort["agestart"] = score_mort["RIDAGEYR"]
score_mort["ageend"] = score_mort["RIDAGEYR"] + score_mort["py"]

# Poverty ratio category
score_mort["pir"] = 5
score_mort.loc[(score_mort["INDFMPIR"] < 1.3) & (score_mort["INDFMPIR"].notna()), "pir"] = 1
score_mort.loc[(score_mort["INDFMPIR"] >= 1.3), "pir"] = 2
score_mort.loc[(score_mort["INDFMPIR"] >= 3), "pir"] = 3

# Recode SNAP for low-income nonparticipants
score_mort.loc[(score_mort["INDFMPIR"].between(0, 1.3)) & (score_mort["SNAP"] != 1), "SNAP"] = 2

# BMI category
score_mort["bmic"] = pd.NA
score_mort.loc[(score_mort["bmi"] > 0) & (score_mort["bmi"] < 18.5), "bmic"] = 1
score_mort.loc[(score_mort["bmi"] >= 18.5) & (score_mort["bmi"] < 25), "bmic"] = 0
score_mort.loc[(score_mort["bmi"] >= 25), "bmic"] = 2
score_mort.loc[(score_mort["bmi"] >= 30), "bmic"] = 3

In [158]:
# check drop by step

# Step 1: Initial inclusion based on ELIGSTAT and MORTSTAT
score_mort["include"] = np.where(
    (score_mort["ELIGSTAT"] == 1) & (score_mort["MORTSTAT"].notna()), 1, 0
)
print(f"After ELIGSTAT & MORTSTAT inclusion: {score_mort['include'].value_counts().to_dict()}")

# Step 2: Exclude missing HEI, invalid WTDRD1, or DR12DRST > 1
step2_cond = (
    (score_mort["include"] == 1) &
    (
        score_mort["HEI2015_TOTAL_SCORE"].isna() |
        (score_mort["WTDRD1"] <= 0) |
        (score_mort["DR12DRST"] > 1)
    )
)
print(f"Dropped at Step 2 (diet data or recall quality): {step2_cond.sum()}")
score_mort.loc[step2_cond, "include"] = 2

# Step 3: Exclude missing FS, SNAP, or pir == 4
step3_cond = (
    (score_mort["include"] == 1) &
    (
        score_mort["FS"].isna() |
        score_mort["SNAP"].isna() |
        (score_mort["pir"] == 4)
    )
)
print(f"Dropped at Step 3 (missing FS/SNAP or pir=4): {step3_cond.sum()}")
score_mort.loc[step3_cond, "include"] = 3

# Step 4: Exclude if WTDRD1 <= 0 (redundant with step 2, but following SAS)
step4_cond = (score_mort["include"] == 1) & (score_mort["WTDRD1"] <= 0)
print(f"Dropped at Step 4 (zero or negative WTDRD1): {step4_cond.sum()}")
score_mort.loc[step4_cond, "include"] = 4

# Final count of each inclusion code
print(f"📊 Final include flag counts: {score_mort['include'].value_counts().to_dict()}")

# Apply final filter
score_mort = score_mort[score_mort["include"] == 1].copy()
print(f" Final analytic sample size: {score_mort.shape[0]}")

After ELIGSTAT & MORTSTAT inclusion: {1: 47632, 0: 32680}
Dropped at Step 2 (diet data or recall quality): 7950
Dropped at Step 3 (missing FS/SNAP or pir=4): 780
Dropped at Step 4 (zero or negative WTDRD1): 0
📊 Final include flag counts: {1: 38902, 0: 32680, 2: 7950, 3: 780}
 Final analytic sample size: 38902

In [159]:
# Inclusion flag
score_mort["include"] = np.where(
    (score_mort["ELIGSTAT"] == 1) & (score_mort["MORTSTAT"].notna()), 1, 0
)
score_mort.loc[
    (score_mort["include"] == 1) &
    (
        (score_mort["HEI2015_TOTAL_SCORE"].isna()) |
        (score_mort["WTDRD1"] <= 0) |
        (score_mort["DR12DRST"] > 1)
    ),
    "include"
] = 2
score_mort.loc[
    (score_mort["include"] == 1) &
    (
        score_mort["FS"].isna() |
        score_mort["SNAP"].isna() |
        (score_mort["pir"] == 4)
    ),
    "include"
] = 3
score_mort.loc[
    (score_mort["include"] == 1) & (score_mort["WTDRD1"] <= 0),
    "include"
] = 4

# Insurance binary
score_mort["ins2"] = np.where(score_mort["ins"] == 0, 0, 1)

# Unemployment indicator
score_mort["unemployment2"] = np.where(score_mort["employ"] > 1, 1, 0)

# Final filter to keep only those with include == 1
score_mort = score_mort[score_mort["include"] == 1].copy()

# Save final dataset
score_mort.to_pickle(os.path.join(folder_path, "SODH_diet_mort.pkl"))  # You can also use .csv or .parquet

<h3>check final merged data </h3>

In [160]:
SODH_diet_mort = pd.read_pickle(os.path.join(folder_path, "SODH_diet_mort.pkl"))
# Number of rows
total_rows = SODH_diet_mort.shape[0]

# Number of unique SEQN values
unique_ids = SODH_diet_mort['SEQN'].nunique()

print(f" Total rows: {total_rows}")
print(f" Unique SEQN values: {unique_ids}")

 Total rows: 38902
 Unique SEQN values: 38902

In [161]:
# Check age range
min_age = score_mort["RIDAGEYR"].min()
max_age = score_mort["RIDAGEYR"].max()

print(f" Age range: {min_age} to {max_age}")

 Age range: 20.0 to 85.0

<h2>🧮 Weighted Summary Statistics for Key Demographics and Health Variables
</h2>

In [106]:

df, meta = pyreadstat.read_sas7bdat("/Users/dengshuyue/Desktop/SDOH/analysis/data/sodh_diet_mort.sas7bdat")

# Drop missing weights
df = df.dropna(subset=['WTDRD1', 'sdmvstra', 'sdmvpsu'])

# Define a simple weighted mean function
def weighted_mean(x, w):
    return np.sum(x * w) / np.sum(w)

# Define a simple weighted proportion function
def weighted_prop(var, w, categories=None):
    d = df[[var, w]].dropna()
    total_weight = d[w].sum()
    return (d.groupby(var)[w].sum() / total_weight).sort_index()

# Example: weighted mean for age
mean_age = weighted_mean(df['RIDAGEYR'], df['WTDRD1'])

# Example: weighted proportions for sex
sex_props = weighted_prop('sex', 'WTDRD1')
race_props = weighted_prop('race', 'WTDRD1')
edu_props = weighted_prop('edu', 'WTDRD1')
pir_props = weighted_prop('pir', 'WTDRD1')
fs_props = weighted_prop('FS', 'WTDRD1')
snap_props = weighted_prop('SNAP', 'WTDRD1')
smk_props = weighted_prop('smk', 'WTDRD1')
alcg2_props = weighted_prop('alcg2', 'WTDRD1')
bmic_props = weighted_prop('bmic', 'WTDRD1')

# Binary conditions
binary_vars = ['DIABETES', 'CVD', 'dm_rx', 'chol_rx', 'angina', 'cancer', 'lung_disease', 'MORTSTAT']
binary_means = {var: round(weighted_mean(df[var].fillna(0), df['WTDRD1']) * 100, 1) for var in binary_vars}

# Continuous variables
cont_vars = ['RIDAGEYR', 'met_hr', 'bmi', 'hba1c', 'sbp', 'dbp', 'hdl', 'ldl', 'tg', 'HEI2015_TOTAL_SCORE']
cont_means = {var: round(weighted_mean(df[var], df['WTDRD1']), 2) for var in cont_vars}

<h2>Sample exclusion summary</h2>

In [107]:
# === Track exclusion reasons ===

total_n = len(df)

# 1. Excluded for invalid mortality status
exclude_mort = df['MORTSTAT'].isna()
n_mort_missing = exclude_mort.sum()

# 2. Excluded for fewer than one valid dietary recall
exclude_diet = df['WTDRD1'].isna()
n_diet_missing = exclude_diet.sum()

# 3. Excluded for missing family income (e.g., INDFMPIR or pir)
exclude_income = df['pir'].isna()
n_income_missing = exclude_income.sum()

# 4. Excluded for missing food insecurity status (e.g., FS or FSDHH)
exclude_fs = df['FS'].isna()
n_fs_missing = exclude_fs.sum()

# You can combine all exclusions for final n included if needed
excluded_total = exclude_mort | exclude_diet | exclude_income | exclude_fs
n_final_included = total_n - excluded_total.sum()

# === Print results ===
print("Sample exclusion summary:")
print(f"Total participants: {total_n}")
print(f"Excluded due to missing mortality data: {n_mort_missing}")
print(f"Excluded due to missing dietary recall weight: {n_diet_missing}")
print(f"Excluded due to missing family income: {n_income_missing}")
print(f"Excluded due to missing food insecurity status: {n_fs_missing}")
print(f"Final analytic sample: {n_final_included}")

Sample exclusion summary:
Total participants: 38420
Excluded due to missing mortality data: 0
Excluded due to missing dietary recall weight: 0
Excluded due to missing family income: 0
Excluded due to missing food insecurity status: 0
Final analytic sample: 38420

<h2>Calculate weighted percentage of deceased</h2>

In [7]:
# Clean data: drop rows with missing mortality status or weight
mort_df = df[['MORTSTAT', 'WTDRD1']].dropna()

# Calculate total weighted sum
total_weight = mort_df['WTDRD1'].sum()

# Weighted percentage of deceased (MORTSTAT == 1)
dead_weight = mort_df.loc[mort_df['MORTSTAT'] == 1, 'WTDRD1'].sum()
weighted_pct_dead = (dead_weight / total_weight) * 100

print(f"Weighted percentage deceased: {weighted_pct_dead:.1f}%")

Weighted percentage deceased: 9.1%

<h2>Generate Weighted Demographic Summary Table</h2>

In [10]:
# try domographic 

# === Load data ===
df, meta = pyreadstat.read_sas7bdat("/Users/dengshuyue/Desktop/SDOH/analysis/data/sodh_diet_mort.sas7bdat")
df = df.dropna(subset=['WTDRD1', 'sdmvstra', 'sdmvpsu'])  # drop missing survey vars

# === Define helper functions ===
def weighted_mean(x, w):
    d = pd.DataFrame({'x': x, 'w': w}).dropna()
    return np.sum(d.x * d.w) / np.sum(d.w)

def weighted_props(df, var, weight):
    d = df[[var, weight]].dropna()
    total_weight = d[weight].sum()
    counts = d.groupby(var)[weight].sum()
    proportions = (counts / total_weight).round(3)
    return counts.round(0).astype(int), (proportions * 100).round(1)

# === Categorical variables ===
cat_vars = {
    'sex': {2: 'Female', 1: 'Male'},
    'race': {
        1: 'Non-Hispanic White',
        2: 'Non-Hispanic Black',
        3: 'Hispanic',
        4: 'Other'
    },
    'edu': {
        1: 'Less than high school',
        2: 'High school or equivalent',
        3: 'Some college',
        4: 'College or above'
    },
    'pir': {
        1: '<1.3',
        2: '1.3~2.99',
        3: '>=3'
    },
    'SNAP': {
        0: 'Not participant',
        1: 'Participant',
        2: 'Income eligible non-participant'
    },
    'smk': {
        1: 'Nonsmokers',
        2: 'Former smokers',
        3: '<15 cigarettes/day',
        4: '15-24.9 cigarettes/day',
        5: '≥ 25 cigarettes/day'
    },
    'alcg2': {
        1: 'Nondrinkers',
        2: 'Moderate drinker',
        3: 'Heavy drinker',
        4: 'Missing'
    },
    'bmic': {
        1: 'BMI <18.5',
        2: '18-24.9',
        3: '25-29.9',
        4: 'BMI ≥30'
    }
}

cat_rows = []
for var, labels in cat_vars.items():
    counts, props = weighted_props(df, var, 'WTDRD1')
    for code, label in labels.items():
        if code in counts.index:
            cat_rows.append({
                'Variable': var,
                'Category': label,
                'Overall': f"{counts[code]} ({props[code]}%)"
            })

# === Binary prevalence variables (as % only) ===
binary_vars = ['DIABETES', 'CVD', 'dm_rx', 'chol_rx', 'angina', 'cancer', 'lung_disease', 'MORTSTAT']
for var in binary_vars:
    prevalence = weighted_mean(df[var].fillna(0), df['WTDRD1']) * 100
    cat_rows.append({
        'Variable': var,
        'Category': '1',
        'Overall': f"{round(prevalence, 1)}%"
    })

# === Continuous variables (means) ===
cont_vars = ['RIDAGEYR', 'met_hr', 'bmi', 'hba1c', 'sbp', 'dbp', 'hdl', 'ldl', 'tg', 'HEI2015_TOTAL_SCORE']
for var in cont_vars:
    mean_val = weighted_mean(df[var], df['WTDRD1'])
    cat_rows.append({
        'Variable': var,
        'Category': '',
        'Overall': f"{round(mean_val, 2)}"
    })

# === Final demographic summary table ===
demo_table = pd.DataFrame(cat_rows)

# Show the first few rows of the demographic summary table
demo_table.head(20)

   Variable                         Category             Overall
0       sex                           Female   898890154 (52.2%)
1       sex                             Male   821475363 (47.8%)
2      race               Non-Hispanic White  1170666658 (68.0%)
3      race               Non-Hispanic Black   192703827 (11.2%)
4      race                         Hispanic   231665971 (13.5%)
5      race                            Other    125329062 (7.3%)
6       edu            Less than high school   273653325 (15.9%)
7       edu        High school or equivalent   410284219 (23.9%)
8       edu                     Some college   544769320 (31.7%)
9       edu                 College or above   490754264 (28.5%)
10      pir                             <1.3   352883685 (20.5%)
11      pir                         1.3~2.99   465592751 (27.1%)
12      pir                              >=3   809188344 (47.0%)
13     SNAP                  Not participant  1277870183 (74.3%)
14     SNAP                      Participant   246720094 (14.3%)
15     SNAP  Income eligible non-participant   195775241 (11.4%)
16      smk                       Nonsmokers   932219796 (54.2%)
17      smk                   Former smokers   429409492 (25.0%)
18      smk               <15 cigarettes/day   210303642 (12.2%)
19      smk           15-24.9 cigarettes/day    109398983 (6.4%)

In [22]:
# Define unweighted counts and proportions
def unweighted_props(df, var):
    counts = df[var].value_counts(dropna=False).sort_index()
    props = counts / counts.sum() * 100
    return counts, props.round(1)

# Now use it for 'sex'
counts, props = unweighted_props(df, 'sex')

# Optionally map codes to labels
sex_labels = {1: 'Male', 2: 'Female'}
for val in counts.index:
    label = sex_labels.get(val, val)
    print(f"{label}: {counts[val]} ({props[val]}%)")
18530+19890

Male: 18845 (48.4%)
Female: 20055 (51.6%)

38420

In [ ]:
##merge be-careful

In [ ]:
with open('/Users/dengshuyue/Desktop/SDOH/analysis/code/Ref/2.Prepare data_master.sas', 'r', encoding='latin1') as f:
    sas_code = f.read()

print(sas_code[:20000])  # Preview the first X,000 characters

In [ ]:
with open('/Users/dengshuyue/Desktop/SDOH/analysis/code/Ref/2.1_Prepare data_covariates.sas', 'r', encoding='latin1') as f:
    sas_code = f.read()

print(sas_code[:20000])  # Preview the first X,000 characters

In [ ]:
with open('/Users/dengshuyue/Desktop/SDOH/analysis/code/Descriptions_1.sas', 'r', encoding='latin1') as f:
    sas_code = f.read()

print(sas_code[:20000])  # Preview the first 15,000 characters

In [ ]:
# Diabetes Identification Note:
# The final diabetes indicator variable used in the analysis is 'diabe2'.
# This composite variable identifies diabetes based on the following criteria:
# - Self-reported physician diagnosis (DIQ010), current insulin use (DIQ050), or oral medication use (DIQ070)
# - Prescription drug data indicating diabetes treatment (dm_rx2)
# - Fasting glucose ≥ 126 mg/dL (glu_dm)
# - OGTT ≥ 200 mg/dL (ogtt_dm)
# - HbA1c ≥ 6.5% (hb_dm)
# Any one of these criteria being met will set 'diabe2' = 1, otherwise 0.

In [ ]:
with open('/Users/dengshuyue/Desktop/SDOH/analysis/Analysis1_COX_allcause_bysub.sas', 'r', encoding='latin1') as f:
    sas_code = f.read()

print(sas_code[:10000])  # Preview the first 15,000 characters

In [ ]:
with open('/Users/dengshuyue/Desktop/SDOH/analysis/Analysis1_dataprep.sas', 'r', encoding='latin1') as f:
    sas_code = f.read()

print(sas_code[:20000])  # Preview the first 15,000 characters

<h1>SDOH score</h1>

In [20]:
# see housing and employ
df[['HOQ065', 'HOD050', 'EMPLOY']]

       HOQ065  HOD050  EMPLOY
0         1.0     6.0     1.0
1         1.0     3.0     2.0
2         1.0     7.0     3.0
3         1.0     6.0     3.0
4         2.0     3.0     1.0
...       ...     ...     ...
38895     3.0     8.0     1.0
38896     1.0     6.0     3.0
38897     2.0     1.0     1.0
38898     2.0     8.0     2.0
38899     1.0     9.0     4.0

[38900 rows x 3 columns]

In [21]:
# List of selected SDOH-related variables
selected_cols = ['HOQ065', 'HOD050', 'MOR']

# Summary function for each variable
for col in selected_cols:
    print(f"\n=== {col} Summary ===")
    print("Value counts:")
    print(df[col].value_counts(dropna=False))
    print("\nProportions:")
    print((df[col].value_counts(normalize=True, dropna=False) * 100).round(2))
    print(f"\nMissing values: {df[col].isnull().sum()}")

=== HOQ065 Summary ===
Value counts:
HOQ065
1.0    24162
2.0    13779
3.0      907
NaN       52
Name: count, dtype: int64

Proportions:
HOQ065
1.0    62.11
2.0    35.42
3.0     2.33
NaN     0.13
Name: proportion, dtype: float64

Missing values: 52

=== HOD050 Summary ===
Value counts:
HOD050
5.0      8034
6.0      7469
4.0      6416
7.0      5175
8.0      3352
3.0      3193
9.0      1908
10.0     1122
2.0       820
11.0      476
12.0      285
1.0       281
13.0      260
999.0      43
777.0      39
NaN        27
Name: count, dtype: int64

Proportions:
HOD050
5.0      20.65
6.0      19.20
4.0      16.49
7.0      13.30
8.0       8.62
3.0       8.21
9.0       4.90
10.0      2.88
2.0       2.11
11.0      1.22
12.0      0.73
1.0       0.72
13.0      0.67
999.0     0.11
777.0     0.10
NaN       0.07
Name: proportion, dtype: float64

Missing values: 27

=== EMPLOY Summary ===
Value counts:
EMPLOY
1.0    20703
3.0     7765
5.0     4323
4.0     3634
2.0     1594
NaN      881
Name: count, dtype: int64

Proportions:
EMPLOY
1.0    53.22
3.0    19.96
5.0    11.11
4.0     9.34
2.0     4.10
NaN     2.26
Name: proportion, dtype: float64

Missing values: 881